@import "./../variables/colors";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;

    color: $color-black;
    line-height: 120%;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 24px;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

section {
    padding: 50px 0;
}

p {
    font-size: 16px;
    line-height: 120%;
}

a {
    color: inherit;
    text-decoration: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

@media (max-width: 768px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 24px;
    }
}